/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
!downloaded
z downloaded
.clj-kondo
.idea
add-image-dimensions-to-html.iml
add-image-dimensions-to-html-1.iml
